<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    {% include 'partials/meta.html' %}
    {% block head %}{% endblock head%}
    {% include 'partials/fonts.html' %}
    {% include 'partials/stylesheets.html' %}
    {% block stylesheets %}{% endblock stylesheets%}
</head>
<body>
    <header class="header">
        {% include 'partials/header.html' %}
    </header>
    
    {% block body %}{% endblock body %}

    <footer class="footer">
        {% block extra_footer %} {% endblock extra_footer %}
        {% include 'partials/footer-bottom.html' %}
    </footer>

    {% include "partials/scripts.html" %}

    {% block scripts %}{% endblock scripts %}
</body>
</html>