<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    {% include 'partials/meta.html' %}
    {% block extra-head %}{% endblock extra-head%}
    {% include 'partials/fonts.html' %}
    {% include 'partials/stylesheets.html' %}
    {% block extra-styles %}{% endblock extra-styles %}
</head>
<body>
    {% block header %}
        {% include 'partials/header.html' %}
    {% endblock header%}
    
    {% block body %}{% endblock body %}

    {% block footer-bottom %}
        {% block extra-footer %} {% endblock extra-footer %}
        {% include 'partials/footer-bottom.html' %}
    {% endblock footer-bottom %}

    {% include "partials/scripts.html" %}

    {% block scripts %}{% endblock scripts %}
</body>
</html>